.tittle{
    color: yellow;
    text-align: center;
}
.loged{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
nav{
    padding-left: 5%;
    padding-right: 5%;
}
.navbar{
    padding-left: 5%;
    padding-right: 5%;

}