.tittle {
    color: yellow;
    text-align: center;
}

.loged {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

nav,
.navbar {
    padding-left: 5%;
    padding-right: 5%;

}


.add, .edit{
    padding: 2.5%;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(0%, -40%);
    border-radius: 15px;
    background: gray;
    color: black;
    
}
[data-addCarrito], [data-addMat], [data-editMat]{
    display: none;
}


.active[data-addCarrito], .active[data-addMat], .active[data-editMat]{
    display: block;
}
