.materiales-container {
  padding: 20px;
}

.materiales-container h2 {
  color: #333;
}

.materiales-container .form-control,
.materiales-container .form-select {
  margin-bottom: 10px;
}

.materiales-container .table {
  margin-top: 20px;
}

.materiales-container .btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

